// Цвета
$mainColor: #B4D7D9; //Основной цвет
$secondColor: #4D5C63; //Второстепенный цвет
$mainTextColor: #3C3C3C; //Основной цвет текста
$secondTextColor: white; //Второстепенный цвет текста

// Шрифты
$h1FontSize: 40px; // Размер h1
$h2FontSize: 30px; // Размер h2
$pFontSize: 24px; // Размер p

$mainFontFamily: 'Jura'; //Основной шрифт
$footerFontWeight: 20px; //Размер шрифта в футере